.signup-page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #667eea, #764ba2);
}

.signup-container{
    background-color: white;
    border-radius: 10px;
    padding: 30px 50px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.signup-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}
  
.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.signup-btn {
    width: 100%;
    padding: 10px;
    background: linear-gradient(90deg, #667eea, #764ba2);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.social-login p {
    margin: 20px 0 10px;
    color: #666;
  }
  
.social-buttons {
    display: flex;
    justify-content: space-between;
}
  
.social-btn {
    padding: 10px;
    width: 48%;
    border-radius: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
}
  
.social-btn.facebook {
    background-color: #3b5998;
    color: white;
}
  
.social-btn.google {
    background-color: #db4437;
    color: white;
}
  
.login-text {
    margin-top: 20px;
    color: #666;
}
  
.login-text a {
    color: #667eea;
    text-decoration: none;
}